.page { 
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}



.selectionScreen {
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  position: fixed;
  background: #fff;
}
.mobileLayout {
  height: 100vh;
}
.desktopLayout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

@media (min-width: 768px) {
  .column {
  width: 50%;
  height: 100vh;
}
}



