.languageSelection {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 100;
    padding-right: 3rem;
    background-image: linear-gradient(45deg, rgba(221, 221, 221, 0.05), rgba(0, 0, 0, .45));
}
.languageSelection p{
    text-align: right;
    padding: 1rem;
    word-spacing: 1px;
}
.items li{
    text-align: right;
    margin: 1rem;
}